html {
    font-size: 62.5%;
}

body {
    display: grid;
    grid-template-areas: "header header header header"
                         "hero hero hero hero"
                         "about about about about"
                         "projects projects projects projects"
                         "footer footer footer footer";
    grid-template-columns: repeat(4, 1fr);
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif; 
    font-weight: 400;                    
}

.header {
    grid-area: header;
    background-color: aqua;
}

.hero {
    grid-area: hero;
}

.about {
    grid-area: about;
}

.projects {
    grid-area: projects;
}

.footer {
    grid-area: footer;
}